streamlit>=1.24.0
Pillow
PyPDF2
requests
gTTS
groq
python-docx
scikit-learn
elevenlabs
matplotlib
streamlit
groq
faiss-cpu
sentence-transformers
numpy
streamlit
groq
faiss-cpu
sentence-transformers
pdfplumber
python-docx
gtts
numpy
