streamlit
Pillow
PyMuPDF
python-pptx
gTTS
streamlit-webrtc
docx
requests
beautifulsoup4
streamlit==1.25.0
streamlit-webrtc==0.50.0
Pillow==10.0.0
PyMuPDF==1.23.4
python-pptx==0.6.21
gTTS==2.4.0
docx==0.2.4
groq==1.0.1
numpy==1.26.0
